extends layout-blocks/layout
block content
	style.
		body {
			padding: 20px;
			background-color: #ECF0f1;
		}
		.myZoom, .myBabyZoom {
			height: 200px;
			width: 200px;
			border-radius: 100px;
			border: 2px solid #333;
			background-color: #e74c3c;
			margin: 30px auto;
		}
		.myBabyZoom {
			top: 500px;
			background-color: #3498DB;
		}
		.code-snippet pre {
			margin: 10px auto;
			max-width: 370px;
			text-align: left;
			background-color: #474747;
			color: #fff;
		}
		code > span {
			display: block;
		}
		.lead {
			margin: 20px 0px 10px 0px;
		}
		code {
			color: #9400d3;
		}
		p, ul {
			max-width: 370px;
			margin: 0 auto;
		}
		ul {
			list-style-type: decimal;
		}
	h1.text-center Zoomable!
	h3.text-center pinch zooming for DOM elements made simple
	.code-snippet
		pre
			code
				&lt;div zoomable zoom-scale=&quot;0.1&quot;&gt;&lt;/div&gt;
	.code-snippet.hide(name = "timer")
	p.text-center.
		Here are two example zoomable divs that will simply scale on gesture at varying rates as defined by their <code>zoom-scale</code> attribute.
	.myZoom(zoomable, zoom-scale="0.1")
	ul
		li Simply drop <code>zoomable.min.js</code> into your page (under a kilobyte)
		li Define <code>zoomable</code> and <code>zoom-scale</code> attributes for your elements.
	.myBabyZoom(zoomable, zoom-scale="0.01")
	script(src="js/zoomable.js")
